
.main {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 50px;
  }
  
  .img-modify {
    width: 80px;
    padding: 10px 15px 0px 10px;
  }
  
  .row-modify {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    background-color: #a5a5a5;
    height: 1px;
    margin: 32px 0 0;
    text-align: center;
  }
  
  .wrapper span {
    position: relative;
    top: -12px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #797979;
    background: #ffffff;
  }
  