<!--<div>
  <a title="Home" routerLink="/">
    <img class="logo" src="assets/img/OLRhvWyv_400x400.png">
  </a>
</div>

<div class="host">
  <h3 class="title">Hospedar<br> é a essência do<br> Airbnb</h3>
</div>

<div class="host-form">
  <form (ngSubmit)="onSubmit()">
      <div>
          <label for="name">
            Anfitrião:
          </label>
          <input id="name" type="text" class="form-control" name="name" ngModel/>
        </div>
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
       </div>
  </form>
</div>-->


<div class="container main">
  <div class="row row-modify">
    <div class="img-modify">
      <img class="responsive-img" src="../../assets/img/logo_airbnb.png" />
    </div>
    <div class="">
      <h5 class="indigo-text">Entrar no Airbnb</h5>
    </div>
  </div>
  <form class="row row-modify">
    <div method="post" (ngSubmit)="onSubmit()">
      <div class='row'>
        <div class='input-field col s12'>
          <i class="material-icons prefix">mail_outline</i>
          <input class='validate' type='email' name='email' id='email' />
          <label for='email'>Email</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <i class="material-icons prefix">lock_outline</i>
          <input class='validate' type='password' name="password" (ngModel)="user.password">
          <label for='password'>Senha</label>
        </div>
        <label style='float: left; padding-left: 20px;'>
          <input type="checkbox" />
          <span><b>Lembrar-me</b></span>
        </label>
        <label style='float: right;'>
          <a class='pink-text' href='#!'><b>Esqueceu sua senha?</b></a>
        </label>
      </div>
      <br />
      <div class='row'>
        <button type='submit' value="login" name='btn_login' class='col s12 btn btn-large btnSubmit waves-effect indigo'>Login</button>
      </div>

      <div class="row">
        <div class="wrapper">
          <span>Novo no Airbnb? <a href="/cadastre-se">Criar uma conta</a></span>
        </div>
      </div>
    </div>
  </form>
</div>

