<div class="container-fluid">
  <h2>Venha fazer parte da equipe Airbnb</h2>
  <div class="container">
    <div class="row">
      <p>Dados principais:</p>
      <div class="col s12">
        <div class="input-field col s6">
          <input id="input_name" type="text" name="name" [(ngModel)]="user.name" length="25">
          <label for="input_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="input_sname" type="text" name="socialname" [(ngModel)]="user.socialName">
          <label for="input_sname">Nome Social</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>Sexo:</p>
        <div class="col s4" *ngFor="let s of sex">
          <div class="input-field col s12">
            <label>
              <input class="form-check-input" name="group1" value={{s.value}} [(ngModel)]="user.gender.value"
                type="radio" />
              <span>{{s.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col s6">
        <p>Data de nascimento:</p>
        <div class="col s4">
          <div class="input-field col s12">
            <select [(ngModel)]="user.dtNasc.day">
              <option value="" disabled selected>Dia</option>
              <option *ngFor="let num of days" value={{num}}>{{num}}</option>
            </select>
          </div>
        </div>
        <div class="col s4">
          <div class="input-field col s12">
            <select [(ngModel)]="user.dtNasc.month">
              <option value="" disabled selected>Mês</option>
              <option *ngFor="let m of months" value={{m.value}}>{{m.name}}</option>
            </select>
          </div>
        </div>
        <div class="col s4">
          <div class="input-field col s12">
            <select [(ngModel)]="user.dtNasc.year">
              <option value="" disabled selected>Ano</option>
              <option *ngFor="let year of years" value={{year}}>{{year}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="input_email" type="text" name="email" [(ngModel)]="user.email">
        <label for="input_email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="input_password" type="password" name="password" [(ngModel)]="user.password">
        <label for="input_password">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="col s12 btn btn-large waves-effect" (click)="storeProperty()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
